{% extends "ctfoood/base.html" %}
{% load humanize %}

{% block title %}Welcome{% endblock %}
{% block content %}

{% load admin_urls %}

<p>Welcome, <a href="https://www.youtube.com/watch?v=G1IbRujko-A" style="color: #eaeaeae6; text-decoration: none;">hackers</a>.
This is a live, playable archive of DEF CON CTF challenges.

<!--<p>With a dose of dark magic, we spin up past challenges for everyone to enjoy.-->
<!--<p>You can read more about the <a href="https://oooverflow.io">Order of the Overflow</a>, past editions, and <a href="https://oooverflow.io/philosophy.html">our philosophy</a> on our main site and on <a href="https://defcon.org">DEF CON's</a>.</p>
-->
<p>Brought to you by the <a href="https://oooverflow.io">Order of the Overflow</a>, current host of <a href="https://defcon.org">DEF CON</a>'s official CTF.</p>

<div class="warning_notice">
    <p>Challenges are not particularly malicious or dangerous, but they are vulnerable by design (that's the game!). Containers isolate them, but <b>it's up to you to play safely</b>.
    <p>We're archiving more challenges and appreciate <a href="https://github.com/o-o-overflow/archiveooo/issues">issue reports and suggestions</a>. Just be mindful that running the CTF is tough and has priority. <a href="https://github.com/o-o-overflow/archiveooo/wiki/FAQ">General archive FAQ</a>
    <p>If you ran a cool CTF and want to give a shot at archiving your challenges, ping us at <span style="color:white;">team@oooverflow.io</span>
</div>



{% if own_vms %}  {# Also see the checkout page #}
<div class="private_box private_cmds vm_list_box">
  <p>You have active servers:
  {% if user.is_staff %}[ <a href="/admin/ctfoood/vm/">admin</a> ]{% endif %}
  <ul class="vm_list">
    {% for vm in own_vms %}
    <form action="{% url "delete_vm" vm.id %}" target="_blank">
        {% csrf_token %}
        <li>{{ vm.ip }}:{{ vm.checkout.exposed_port }}
            for <a href="{{vm.checkout.get_absolute_url}}">{{ vm.checkout.chal.name }}</a>
            <span style="color: #888;">[ {{ vm.creation_time|naturaltime }} | id={{vm.id}}
                {% if not vm.study_opted_in %}| <input type="submit" value="delete" onclick="delete_vm_click(event);">{% endif %}
                ]<br>{{ vm.latest_user_message }}</span>
            {% if user.is_staff %}[ <a href="{% url "run_test_deployed" vm.id %}" target="_blank">Run tester</a> ]{% endif %}
        </li></form>
    {% endfor %}
  </ul>
</div>{% endif %}



<div class="homesearch">
    <form action="/" method="get" id="home_search_form" role="search">
    <p><input type="text" placeholder="name, author, tag, year, ..."
        pattern="^[a-zA-Z0-9_ -]+$"
        value="{{ previous_search_pattern }}"
        id="search" name="search">
    <input id="home-search-submit" type="submit" value="Search" onclick="submit_my_form(event)">
    <span class="helptext">Example: "2019 pwn"</span>
    </form>
    {% if previous_search_pattern %}
    <h1>Search results for {{ previous_search_pattern }}</h1>
    {% endif %}
</span>


{% if own_private_chals %}
<div class="private_box private_chals own_private_chals">
Your own private challenges:
<span class="chal_listing"><ul>
{% for c in own_private_chals %}
    <li><a href="{{ c.get_absolute_url }}">{{ c }}</a></li>
{% endfor %}
</div>
{% endif %}

{% if grp_private_chals %}
<div class="private_box private_chals grp_private_chals">
Your group's private challenges:
<span class="chal_listing"><ul>
{% for c in grp_private_chals %}
    <li><a href="{{ c.get_absolute_url }}">{{ c }}</a>
    <span class="point_value">(~{{c.points}} points)</span>
    </li>
{% endfor %}
</div>
{% endif %}




{# XXX: Also see the user-profile view and template #}

{% if public_chals_goodfirst %}
{% if not previous_search_pattern %}
<h1 style="margin-bottom: 0.2em;">Start here!
    {% if user.is_staff %}[ <a href="/admin/ctfoood/chal/">Add/edit</a> ]{% endif %}
</h1>
{% endif %}
<span class="homelist">
{% for c in public_chals_goodfirst %}
    <div class="homechal">
        <span class="format">{{ c.format }}</span><br>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if c.points %}<br><span class="point_value">{{c.points}} points</span>{% endif %}
        <br>
        <div class="tags hometags">
        {% for t in c.get_normal_tags %}
            <span class="tag">{{ t }}</span>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</span>
{% endif %}
{% if public_chals_speedruns %}
{% if not previous_search_pattern %}
<h1 style="margin-bottom: 0.2em;">Easy but... can you hack fast?
    {% if user.is_staff %}[ <a href="/admin/ctfoood/chal/">Add/edit</a> ]{% endif %}
</h1>
{% endif %}
<span class="homelist">
{% for c in public_chals_speedruns %}
    <div class="homechal">
        <span class="format">{{ c.format }}</span><br>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if c.points %}<br><span class="point_value">{{c.points}} points</span>{% endif %}
        <br>
        <div class="tags hometags">
        {% for t in c.get_normal_tags %}
            <span class="tag">{{ t }}</span>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</span>
{% endif %}
{% if public_chals_other %}
{% if not previous_search_pattern %}
<h1 style="margin-bottom: 0.2em;">Harder challenges  <!-- Ub3rL33t haxorz chals -->
    {% if user.is_staff %}[ <a href="/admin/ctfoood/chal/">Add/edit</a> ]{% endif %}
</h1>
{% endif %}
<span class="homelist">
{% for c in public_chals_other %}
    <div class="homechal">
        <span class="format">{{ c.format }}</span><br>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if c.points %}<br><span class="point_value">{{c.points}} points</span>{% endif %}
        <br>
        <div class="tags hometags">
        {% for t in c.get_normal_tags %}
            <span class="tag">{{ t }}</span>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</span>
{% endif %}

{% if public_chals_goodfirst or public_chals_speedruns or public_chals_other %}
{% elif previous_search_pattern %}
Try a wider search query?
{% else %}
<h1 style="margin-bottom: 0.2em;">No public challenges yet
    {% if user.is_staff %}[ <a href="/admin/ctfoood/chal/">Add/edit</a> ]{% endif %}
</h1>
There are no public challenges yet. Come back soon!
{% endif %}


{% if user.is_authenticated %}
{% if solved_chals %}
<h2 style="margin-top: 0.8em;">Solved</h2>
<span class="homelist">
{% for c in solved_chals %}
    <div class="homechal solved_chal">
        <span class="format">{{ c.format }}</span><br>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if c.points %}<br><span class="point_value">{{c.points}} points</span>{% endif %}
        <br>
        <div class="tags hometags">
        {% for t in c.get_normal_tags %}
            <span class="tag">{{ t }}</span>
        {% endfor %}
        </div>
    </div>
{% endfor %}
{% elif previous_search_pattern %}
{% else %}
<p>Nothing solved yet? :(</p>
{% endif %}
{% endif %}



{% if own_achievements or other_achievements %}
<h1>Achievements
    {% if user.is_staff %}[ <a href="/admin/ctfoood/achievement/">Add/edit</a> ]{% endif %}
</h1>
{% endif %}

{% if own_achievements %}
<span class="achievements">
{% for a in own_achievements %}
    <div class="achievement own_achievement" title="{{a.text}}">
        <div class="achievement_name"><b>{{ a.name }}</b></div>
        <div class="achievement_how">{{ a.how }}</div>
    </div>
{% endfor %}
</span>
{% endif %}
{% if other_achievements %}
<span class="achievements">
{% for a in other_achievements %}
    <div class="achievement not_achievement" title="{{a.text}}">
        <div class="achievement_name"><b>{{ a.name }}</b></div>
        <div class="achievement_how">{{ a.how }}</div>
    </div>
{% endfor %}
</span>
{% endif %}


{% endblock %}

